<h2 style="text-align:center; color:steelblue;"> Hello, <%= @user.username %> </h2>
<h3 style="color:goldenrod; text-align:center;"> Don't forget to register your car for the next VQ Gather! </h3>
<a href="/cars/new">Register</a>
<br><br>
<a href="/cars">View the Gather!</a>
<br><br>
<a href="/cars/my_garage">My Garage</a>
<br><br>
<a href="/users/logout">Logout</a>
