<h1> Sign up to join the the VQ Family! </h1>
<br>
<form action="/users/signup" method="POST">
    Username: <input type="text" name="username">
    Password: <input type="password" name="password"><br><br>
    <input type="submit" value="SignUp">
</form>
<br>
<h3> Don't forget to register your car and RSVP for the next Vq_Gather! </h3>