<h2> Register your VQ! </h2>
<form action='/cars' method="POST">
    Make: <input type="text" name="make">
    Model: <input type="text" name="model">
    Year: <input type="number" name="year"<br><br>
    <br>
    <input type="submit" value="RSVP">
</form>