<div class="container">

  <h1 style="text-align:center; color:darkred; class="welcome-title">VQ Gather</h1>
  <br>
  <a href="users/signup">Sign Up</a>
  <br><br>
  <a href="users/login">Login</a>
</div>